/* Import font from Google */
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,400italic,700italic,100|Alegreya:400,700&subset=latin,latin-ext)

/* Fonts */
$serif-font:      'Alegreya','Tinos','Times New Roman',serif
$sans-serif-font: 'Alegreya Sans','Lato',sans-serif

/* Colors */
$red:       #cb4042
$magenta:   #e03c8a
$violet:    #6a75cb
$blue:      #2e8bdf

$background-color:      #fdf6e3
$primary-color:         #255359
$secondary-color:       #336774
$highlight-color:       #253f43
$background-highlight:  #eee8d5
$separator-color:       #255359

/* Measurements */
$viewport-width:        28em
$body-font-size:        140%
$logo-font-size:        1.2em
$line-height:           1.4

@mixin selection
  ::-moz-selection
    @content
  ::selection
    @content

html *
  color-profile: sRGB
  rendering-intent: auto

@include selection
  color: $background-color
  background-color: $violet

body
  font-size: $body-font-size
  margin: 0px auto 0px auto
  max-width: $viewport-width
  padding: 0 2em
  font-family: $sans-serif-font
  background-color: $background-color
  color: $primary-color
  line-height: $line-height

a
  text-decoration: none
  color: $blue
  &:visited
    color: $violet
  &:hover
    color: $magenta

header
  border-bottom: 1px solid $separator-color
  margin-bottom: 1em
  padding: 0.5em 0

#logo a
  color: $red
  float: left
  font-size: $logo-font-size
  text-decoration: none
  font-family: $serif-font
  font-weight: 700

nav
  text-align: right
  margin-top: 0.15em
  font-family: $serif-font
  font-weight: 400
  height: $logo-font-size
  a
    font-size: 0.8em
    text-decoration: none
    text-transform: uppercase
    font-family: $serif-font
    font-weight: 400
    color: $highlight-color
    display: inline-block
    padding: 0 0.3em
    &:visited
      color: $highlight-color
    &.current-page
      font-weight: 700
      font-weight: bold
      color: $red 
    &:hover
      background: $background-highlight

footer
  border-top: solid 1px #586e75
  color: #93a1a1
  font-size: 0.8em
  margin: 1em 0 1.5em 0
  padding: 0.5em 0.5em 0 0
  text-align: right
  font-family: $serif-font
  font-weight: 200
  a
    color: $primary-color
    &:hover
      color: $magenta

h1, h2, h3
  margin-bottom: -0.1em
  font-family: $serif-font
  color: $red

h1, h2
  font-weight: 700

h1
  font-size: 1.3em

h2
  font-size: 1.1em

h3
  font-size: 1em
  line-height: 0.5

p.signature
  text-align: right
  font-size: 0.9em
  color: $primary-color
  font-style: italic

.info
  color: $primary-color
  font-size: 0.8em
  font-style: italic
  a
    color: $primary-color
    &:hover
      color: $magenta

#homepage-quote
  display: block
  width: 11em
  float: right
  margin-left: 1em
  font-size: 0.8em
  font-style: italic
  a, a:visited, a:hover
    color: $secondary-color

#comment
  font-size: 0.8em
  font-color: $secondary-color
  font-style: italic

img#header-image
  width: $viewport-width
  margin-top: 0.5em

.figure-about
  float: right
  padding: 1em 0 0 1em
  .image-caption
    margin-top: 0.25em
    font-style: italic
    font-size: 0.9em
    text-align: center

.video-wrapper
  position: relative
  padding-bottom: 56.25%
  padding-top: 1.25em
  margin: 0.5em 0
  height: 0
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.tagcloud
  margin-top: -1em
