<div class="info">
    Posted on $date$
    $if(author)$
        by $author$
    $endif$
	$if(tags)$
		<br />Filed under: $taglist$
	$endif$
</div>

$body$

<div id="comment"> Comments? Remarks? Criticism? <script type="text/javascript">
<!--
h='&#100;&#x69;&#x73;&#112;&#x75;&#116;&#x61;&#116;&#x69;&#x6f;&#110;&#46;&#x65;&#x73;';a='&#64;';n='&#x6d;&#x61;&#114;&#x63;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'" clas'+'s="em' + 'ail">'+'&#x43;&#x6f;&#110;&#116;&#x61;&#x63;&#116;&#32;&#x6d;&#x65;&#32;&#98;&#x79;&#32;&#x65;&#x6d;&#x61;&#x69;&#108;'+'<\/'+'a'+'>');
// -->
</script><noscript>Contact me by email (marc at disputation dot es)</noscript> 
(<a href="https://sks-keyservers.net/pks/lookup?op=get&search=0xCD712062CF2A5857)">PGP key here</a>).</div>
